table.choppedTweet{
	width:800px;
	margin: 30px auto 0 auto;
	position:relative;

}
input.checkbox{
	text-align: center;	
}
table tr th{
	font-size: 115%;
	height: 30px;
	
}
table tr td{
	margin: 0 10px;
}
.tweet {
	font-size:170%;
	font-weight: bolder;	
	color:white;
	text-align: center;
	background-color: orange;
	border: solid 2px black;
	border-radius: 5px;
	padding:20px;

}
select{
	align: center;
	width:85%;
}
table tr{
	height:40px;

}
table tr td{
	vertical-align: middle;
	padding: 0 0 0 10px;
}
table tr td div{
	width:100%;
}
.altrow{
	background-color: #DFDFDF;
}

.tweet_part{
	width:200px;
}
.ner{
	width:150px;
}
.ner_subtag{
	width:170px;
}