table.choppedTweet{
	width:800px;
	margin: 30px auto 0 auto;
}
input.checkbox{
	text-align: center;	
}
table tr th{
	font-size: 115%;
	height: 30px;
	
}
table tr td{
	margin: 0 10px;
}
.tweet {
	font-size:170%;
	font-weight: bolder;	
	color:white;
	text-align: center;
	background-color: orange;
	border: solid 2px black;
	border-radius: 5px;
	padding:20px;

}
select{
	align: center;
	width:85%;
}